<div id="header">
    <div class="container">
        <span id="logo"><a href="/" title="Homepage"><img src="/images/logo.png" alt="Dojo Toolkit" /></a></span>
        <ul id="navigation">
                <li class="download"><a href="/download">Download</a></li>
                <li class="docs"><a href="/documentation">Documentation</a></li>
                <li class="community"><a href="/community">Community</a></li>
                <li class="blog"><a href="/blog">Blog</a></li>
        </ul>
        <form method="GET" action="http://www.google.com/search" id="search">
            <span>
				<input type="text" name="q" id="query" value="Search" />
            </span>
			<input type="hidden" name="sitesearch" value="dojotoolkit.org" />
            <button type="submit">Search</button>

			<div id="resultbox" style="display:none">
		        <div class="googleheader"></div>
		        <div id="googlesearch"></div>
				<div id="searchClose"><a>Close</a></div>
		    </div>

        </form>
    </div>
</div>
<!-- {{id}} -->
