<!-- {{id}} -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Meta Tags -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="The Dojo Toolkit, dojo, JavaScript Framework" />
<meta name="description" content="The Dojo Toolkit" />
<meta name="author" content="Dojo Foundation" />
<meta name="copyright" content="Copyright 2006-2010 by the Dojo Foundation" />
<meta name="company" content="Dojo Foundation" />
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	
<!-- CSS -->
<link rel="stylesheet" href="/css/site.css" type="text/css" media="all" />
